.city {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    line-height: 1rem;
}

.temp {
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    
}

.mainIcon {
    font-size: 1.5rem;
    display: block;
    margin: 0 auto;
    height: 5rem;
    width: 5rem;
}

.loading {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    padding: 1rem;
}

.refreshing {
    display: flex;
    justify-content: center;
    color: white;
    font-size: .9rem;
    align-items: center;
    padding: .5rem;
}

.sign {
    display: block;
    font-size: 1.5rem;
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    padding-right: .5rem;
}

.weatherDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1rem;
    
}

.rows {
    justify-content: center;
    text-transform: capitalize;
    margin: .1rem;
}