.frameCurrent {
  width: 390px;
  flex: 1 0 auto;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem .5rem 2rem 0;
}

@media screen and (min-width: 415px) {
  .frameCurrent{
    display: block;
    width: 414px;
  }
}

.iconPlusTempContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    height: 10rem;
    flex: 1 0 auto;
}

.tempRow {
    justify-self: right;
    align-content: flex-start;
    font-size: 3.7rem;
    line-height: 10rem;
}

.temp {
    &:after {
        font-size: 2.5rem;
        position: relative;
        top: -1rem;
    }
}

.humidity {
    &:before {
        position: relative;
        top: .5rem;
    }
}

.mainIcon {
    height: 7rem;
    width: 7rem;
}


.weatherDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: .9rem;
    
}

.rows {
    font-size: 1rem;
    justify-content: flex-start;
    text-transform: capitalize;
    margin: .1rem;
}

.description {
    font-size: 1.5rem;
    justify-content: flex-start;
    text-transform: capitalize;
    margin-bottom: 1rem;
}