.weatherDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: .9rem;
    
}

.rows {
    justify-content: center;
    text-transform: capitalize;
    margin: .2rem;
}