.current {
  // grid-area: current;
  display: flex;
  width: 360px;
  flex: 1 0 auto;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.hourly {
  // grid-area: hourly;
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-start;
  display: block;
  width: 412px;
  background: rgba(104, 151, 192, 0.2);
}

.daily {
  // grid-area: daily;
  display: flex;
  background: rgba(255, 255, 255, 0.2);
}

.mainDetails {
  grid-area: mainDetails;
}

.smallDetails {
  grid-area: smallDetails;
}

.gridStart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
    display: grid;
    grid-template-rows: 20vh 50vh 25vh;
    
    // grid-template-columns: 40vw 60vw;
    // grid-template-areas:
    //   "mainDetails smallDetails" 
    //   "current hourly"
    //   "daily daily";
}

@mixin scrollbars(
  $size: 1.3rem,
  $foreground-color: #999,
  $background-color: transparent,
) {

    /*  For Chrome & Safari */
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
    
  }
  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: 1rem;
    
    /* alongside with $size, these 2 makes the magic of scrollbar-padding */
    border: .5rem solid transparent;
    background-clip: padding-box;
  }
  &::-webkit-scrollbar-track {
    background: $background-color;
    margin: .5rem;
  }

  /* Standard version (Firefox only for now) */
  scrollbar-color: $foreground-color $background-color;
}

.topFrame {
  display: block;
  justify-content: space-between;
}

.middleFrame {
  display: flex;
  justify-content: flex-start;
}

.bottomFrame {
  display: block;
  justify-content: flex-startblock
}

.scrollableFrame {
    overflow: auto;
    @include scrollbars();
}

@media screen and (min-width: 415px) {
  .current{
    display: block;
    width: 414px;
  }
}


