@import '~@csstools/normalize.css';
@import "./shared.scss";

/* reset */

ul {
    list-style-type: none;
}

body {
    font-family: $primary-font-family;
    color: $primary-font-colour;
    background-image: url("./assets/clouds.jpg");
    // background-repeat: no-repeat;
    // position: relative;
    // animation: moveClouds 80s infinite linear alternate;
}



// @keyframes moveClouds {
//   0% {
//       background-position: 0;
//   }
//   100% {
//       background-position: 100%;
//   }
// }

#main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 1rem;
    min-width: 400px;
}


